@model MyProjectMVC.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

@*<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specifications" class="control-label"></label>
                <input asp-for="Specifications" class="form-control" />
                <span asp-validation-for="Specifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decriptions" class="control-label"></label>
                <input asp-for="Decriptions" class="form-control" />
                <span asp-validation-for="Decriptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory" class="control-label"></label>
                <input asp-for="Inventory" class="form-control" />
                <span asp-validation-for="Inventory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsNew" /> @Html.DisplayNameFor(model => model.IsNew)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="View" class="control-label"></label>
                <input asp-for="View" class="form-control" />
                <span asp-validation-for="View" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VendorId" class="control-label"></label>
                <select asp-for="VendorId" class ="form-control" asp-items="ViewBag.VendorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedAt" class="control-label"></label>
                <input asp-for="ModifiedAt" class="form-control" />
                <span asp-validation-for="ModifiedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> Edit Listing</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-add-blog sb2-2-1">
        <h2>Cập nhật sản phẩm</h2>
        <p></p>
        <p></p>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="box-inn-sp">
                    @*<div class="inn-title">
                            <h4>Listing Information</h4>
                            <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                        </div>*@
                    <div class="bor">
                        <form asp-action="Create">
                            @*Bên trái*@
                            <div class="col s8">
                                <div class="row">
                                    <div class="input-field col s12 tensp">
                                        <input id="product-name" type="text" class="validate" asp-for="Name">
                                        <label>Tên sản phẩm</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <div class="input-field col s5" style="padding: 0">
                                            @Html.DropDownList("ProductCategoryId")
                                            <label style="left: 0">Loại sản phẩm</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <div class="input-field col s5" style="padding: 0">
                                            @Html.DropDownList("VendorId")
                                            <label style="left: 0">Nhà cung cấp</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <label>Cấu hình</label><br />
                                        <textarea id="specifications" type="text" asp-for="Specifications"></textarea>
                                    </div>
                                </div>


                            </div>

                            <div class="col s4">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="originalprice" type="text" class="validate" asp-for="OriginalPrice" value="">
                                        <label for="list-name">Giá gốc</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="saleprice" type="text" class="validate" asp-for="SalePrice" value="">
                                        <label for="list-name">Giá bán</label>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="input-field col s12">
                                        <input id="saleprice" type="number" class="validate" asp-for="Inventory">
                                        <label for="list-name">Số lượng</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.DropDownList("StatusId")
                                        <label>Trạng thái</label>
                                    </div>
                                </div>
                                <div class="row test">
                                    <div class="col s12">
                                        <input type="checkbox" class="filled-in" id="filled-in-box-3" asp-for="IsNew" />
                                        <label for="filled-in-box-3">Hàng mới</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="row">
                                    <br />
                                    <div class="input-field col s12">
                                        <label>Mô tả</label> <br />
                                        <textarea id="decriptions" type="text" asp-for="Decriptions"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col s8">
                                <div class="row">
                                    <div class="input-field col s8">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-save"> </i> Lưu[Cập nhật]
                                        </button>
                                        <a asp-action="Index">
                                            <button type="button" class="btn btn-primary btn-sm">
                                                <i class="fa fa-times-circle "></i> Thoát
                                            </button>
                                        </a>
                                        @*<input type="submit" class="waves-effect waves-light btn-large " value="Submit">*@
                                    </div>
                                </div>
                            </div>

                            <div style="clear: both"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

