@model IEnumerable<MyProject.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}


<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> Ui Form</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Listing All</h4>
                        <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                        <a class="dropdown-button drop-down-meta" href="#" data-activates="dr-users"><i class="material-icons">more_vert</i></a>
                        <ul id="dr-users" class="dropdown-content">
                            <li>
                                <a href="#!">Add New</a>
                            </li>
                            <li>
                                <a href="#!">Edit</a>
                            </li>
                            <li>
                                <a href="#!">Update</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#!"><i class="material-icons">delete</i>Delete</a>
                            </li>
                            <li>
                                <a href="#!"><i class="material-icons">subject</i>View All</a>
                            </li>
                        </ul>

                        <!-- Dropdown Structure -->

                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Hình ảnh</th>
                                        <th>Tên</th>
                                        <th>Đơn giá</th>
                                        <th>Ngày tạo</th>
                                        <th>Người tạo</th>
                                        <th>View</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            <span class="list-img">@item.Id</span>
                                        </td>
                                        <td>
                                            <span class="list-img">
                                                <img src="~/images/smartphone/iphonex.png" />
                                            </span>
                                        </td>
                                        <td>
                                            <span class="list-img">@Html.DisplayFor(modelItem => item.Name)</span>
                                        </td>
                                        <td>
                                            <span class="list-img">@Html.DisplayFor(modelItem => item.Price)</span>
                                        </td>
                                        <td>
                                            <span class="list-img">@item.CreatedAt.ToString("dd/MM/yyyy")</span>
                                        </td>
                                        <td>
                                            <span class="list-img">@Html.DisplayFor(modelItem => item.CreatedBy)</span>
                                        </td>
                                        <td>
                                            <a href="listing-edit.html"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </td>
                                        <td>
                                            <a href="listing-edit.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        </td>
                                        <td>
                                            <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>